body {
  font-family: 'Roboto', sans-serif;
  background-color: #ccd2c6;
  color: #323e45;
  text-decoration: none;
}

.log a {
 text-decoration: none;
 color: #ccd2c6; 
}

nav > a {
  text-decoration: none;
  color: #ccd2c6; 
}

a {
  text-decoration: none;
  color: #c53333; 
}

a:hover {
  text-decoration: none;
  color: #8ba88e;
  
}

header {
  background-color: #323e45;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #ccd2c6;
  align-items: center;
  padding-top: 1rem;
}

.log  {
  display: flex;
  color: #8ba88e;
  justify-content: space-between;
}

.principal {
  padding-left: 3rem;
  padding-top: 1rem;
}

.btn-danger {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.messages {
  padding-left: 3rem;
}

.form-control {
  width: 50%;
}

.freights {
  display: flex;
  justify-content: left;
  padding-bottom: 2rem;
}

.freights_options {
  background-color :gainsboro;
  padding: 1rem;
  width: 40rem;
  
}

.freights_options_button {
  align-items:left;
  background-color: gainsboro;
  padding: 1rem;
}
